html,
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 8px;
    outline: 1px solid slategrey;
}
