/* https://9elements.com/css-rule-order/#:~:text=So%20the%20order%20is%3A%20position,text%2D*%20%2C%20then%20word%2D*%20. */

:root {
    /* Box model */
    --spacer: 4px;
    --label-column-width: 103px;
    
    /* Background and typography */
    --color-primary: #9a9a9a;
    --color-primary-bg: #2d2d2d;
    --color-secondary: #d8d8d8;
    --color-secondary-bg: #3d3d3d;
    --color-input-bg: #969696;
    --font-size: 8pt;
}

html, body {
    /* Box model */
    margin: 0;
    padding-top: 2px;

    /* Background and typography */
    background-color: var(--color-primary-bg);
    color: var(--color-primary);
    font-size: var(--font-size);
    font-weight: normal;
    font-family: Tahoma, Verdana, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Layout */
.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container > * > .row {
    margin-bottom: calc(var(--spacer) * 2);
}

.row > * {
    box-sizing: border-box;
}

.col-1 { width: calc(100% / 12); }
.col-2 { width: calc((100% / 12) * 2); }
.col-3 { width: calc((100% / 12) * 3); }
.col-4 { width: calc((100% / 12) * 4); }
.col-5 { width: calc((100% / 12) * 5); }
.col-6 { width: calc((100% / 12) * 6); }
.col-7 { width: calc((100% / 12) * 7); }
.col-8 { width: calc((100% / 12) * 8); }
.col-9 { width: calc((100% / 12) * 9); }
.col-10 { width: calc((100% / 12) * 10); }
.col-11 { width: calc((100% / 12) * 11); }
.col-12 { width: 100%; }

.offset-1 { margin-left: calc(100% / 12); }
.offset-2 { width: calc((100% / 12) * 2); }
.offset-3 { width: calc((100% / 12) * 3); }
.offset-4 { width: calc((100% / 12) * 4); }
.offset-5 { width: calc((100% / 12) * 5); }
.offset-6 { width: calc((100% / 12) * 6); }
.offset-7 { width: calc((100% / 12) * 7); }
.offset-8 { width: calc((100% / 12) * 8); }
.offset-9 { width: calc((100% / 12) * 9); }
.offset-10 { width: calc((100% / 12) * 10); }
.offset-11 { width: calc((100% / 12) * 11); }

.f-stretch { flex-grow: 1; }

.a-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Layout (SDPI) */
.col-label
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    width: var(--label-column-width);
    padding-right: 11px;
    
    text-align: right;
}
.col-content {
    width: calc(100% - var(--label-column-width) - 20px);
    padding-left: 0;
    padding-right: 0;
}

/* Spacing */
.p-0 { padding: 0; }
.pt-0 { padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left: 0; }

.ps-2 {
    padding-left: var(--spacer);
    padding-right: var(--spacer);
}

.mr-2 { margin-right: calc(var(--spacer) * 2); }
.mr-3 { margin-right: calc(var(--spacer) * 3); }

.ml-2 { margin-left: calc(var(--spacer) * 2); }
.ml-3 { margin-left: calc(var(--spacer) * 3); }

/* Background and typography */
:disabled {
    cursor: default;
    opacity: 0.5;
}

.refresh-icon,
.refresh-icon:active {
    height: 24px;
    width: 24px;
    
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px" fill="%23d8d8d8"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/></svg>');
    background-size: cover;
}

.text-right { text-align: right; }
.text-center { text-align: center; }

/* Form */
button,
input,
select
{
    /* Box model */
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;

    /* Background and typography */
    color: var(--color-secondary);
    font-size: var(--font-size);
}
button,
input:not([type='range']),
select {
    background-color: var(--color-secondary-bg);
}
input[type="text"]
{
    padding: calc(var(--spacer) + 2px) var(--spacer);
}
select
{
    /* Clipping */
    text-overflow: ellipsis;

    /* Box model */
    padding: calc(var(--spacer) + 1px) 0;
}

button,
input[type="button"],
input[type="submit"] {
    /* Box model */
    border: solid 1px var(--color-primary);
    border-radius: var(--spacer);
    padding: calc(var(--spacer) + 1px) calc(var(--spacer) * 2);

    /* Background and typography */
    background-color: var(--color-secondary-bg);
    color: var(--color-secondary);
}

button:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
    border: solid 1px var(--color-secondary);
    cursor: pointer;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
    border: default;
    background-color: var(--color-primary-bg);
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 0;
    height: 22px;
    background-color: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
    margin-top: 2px;
    height: 5px;
    padding: 0px !important;

    border: solid 1px var(--color-secondary-bg);
    background: var(--color-input-bg);
    border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -4px;
    
    width: 12px;
    height: 12px;
    border-radius: 20px;
    
    cursor: pointer;
    background-color: var(--color-secondary);
}
input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: default;
}
input[type="range"]::-webkit-slider-thumb::before {
    position: absolute;
    content: "";
}
